input[type="checkbox"] {/*Выбрать input типа checkbox.ы*/

}

input:not(:checked) + label {/*Выбрать input типа checkbox, НЕ отмеченный.*/
    color: red;
}
#message{/*Найти все элементы с id=message или message-*.*/
background: rgba(135, 86, 120, .4)
}
[id^="message-"]{

}
a[href$=".zip"]{/*Найти все ссылки с расширением href="...zip".*/

}
[data-action~="delete"]{/*Найти все элементы с атрибутом data-action, содержащим delete в списке (через пробел).*/

}
[data-action]:not([data-action~="delete"]){/*Найти все элементы, у которых ЕСТЬ атрибут data-action, но он НЕ содержит delete в списке (через пробел).*/
}
messages li:nth-child(2n){/*Выбрать все чётные элементы списка #messages.*/

}
h3#widget-title + *{/*Выбрать один элемент сразу за заголовком h3#widget-title на том же уровне
вложенности.*/

}
h3#widget-title ~ a{/*Выбрать все ссылки, следующие за заголовком h3#widget-title на том же уровне
вложенности.*/

}
#messages li:last-child a{/*Выбрать ссылку внутри последнего элемента списка #messages.*/

}
